.button-container {
  display: flex;
  justify-content: center;
}

.recent-transaction {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  color: white;
  padding: 20px;
  background: #5DBCD2;
  cursor: pointer;
  margin: 20px 10px;
  border: none;
}

.remaining-balance {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  color: white;
  padding: 20px;
  background: #5DBCD2;
  cursor: pointer;
  margin: 20px 10px;
  border: none;
}

.active-button { 
  background: #F10270;
  color: white;
}

@media screen and (max-width: 768px) {
  .button-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
    padding: 5px 20px;
  }
  .recent-transaction {
    grid-row: 1/2;
    padding: 15px;
    margin: 0;
  }
  .remaining-balance {
    grid-row: 2/3;
    padding: 15px;
    margin: 0;
  }
}
