* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  -webkit-animation: fadein 3s; 
  -moz-animation: fadein 3s; 
  -ms-animation: fadein 3s; 
  -o-animation: fadein 3s; 
  animation: fadein 3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: white;
  background: #0C3B97;
  position: relative;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.acct-title {
  text-align: center;
  margin: 30px;
}
